<div class="container">
  <div class="jumbotron">
    <h1>Welcome</h1>
    <h2>Guess The Number Game</h2>
    <h4>I have thought a number between 1 to 100. Let's see how many guesses you need to reach to that.</h4>
  </div>
  <div class="panel panel-primary">
      <div class="panel-body">
        <div class="form-group ">
          <input id="guessNumber" class="form-control" type="number" required="true" [(ngModel)]="guessNumber">
        </div>
        <div class="form-group">
          <button id="guess" [disabled]="disableGuessFlag" (click)="guess()" class="btn btn-outline-info btn-lg ">Guess</button>
          <button (click)="initializeGame()" class="btn btn-outline-danger btn-lg float-xl-right">Start a new game
          </button>
        </div>
        <br/>
        <div class="alert alert-{{state}}">
          {{message}}
        </div>
      </div>
  </div>
</div>
<router-outlet></router-outlet>

